venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/routes.cpython-310.pyc
*.pyc
Oracle-client/instantclient_21_7/xstreams.jar
Oracle-client/instantclient_21_7/uidrvci.sym
Oracle-client/instantclient_21_7/uidrvci.exe
Oracle-client/instantclient_21_7/ucp.jar
Oracle-client/instantclient_21_7/orasql.sym
Oracle-client/instantclient_21_7/orasql.dll
Oracle-client/instantclient_21_7/oraociei.sym
Oracle-client/instantclient_21_7/oraociei.dll
Oracle-client/instantclient_21_7/oraocci21d.sym
Oracle-client/instantclient_21_7/oraocci21d.dll
Oracle-client/instantclient_21_7/oraocci21.sym
Oracle-client/instantclient_21_7/oraocci21.dll
Oracle-client/instantclient_21_7/orannzsbb.sym
Oracle-client/instantclient_21_7/orannzsbb.dll
Oracle-client/instantclient_21_7/oramysql.sym
Oracle-client/instantclient_21_7/oramysql.dll
Oracle-client/instantclient_21_7/ojdbc8.jar
Oracle-client/instantclient_21_7/ociw32.sym
Oracle-client/instantclient_21_7/ociw32.dll
Oracle-client/instantclient_21_7/ocijdbc21.sym
Oracle-client/instantclient_21_7/ocijdbc21.dll
Oracle-client/instantclient_21_7/oci.sym
Oracle-client/instantclient_21_7/oci.dll
Oracle-client/instantclient_21_7/network/admin/tnsnames.ora
Oracle-client/instantclient_21_7/network/admin/sqlnet.ora
Oracle-client/instantclient_21_7/network/admin/README
Oracle-client/instantclient_21_7/network/admin/cwallet.sso
Oracle-client/instantclient_21_7/genezi.sym
Oracle-client/instantclient_21_7/genezi.exe
Oracle-client/instantclient_21_7/BASIC_README
Oracle-client/instantclient_21_7/BASIC_LICENSE
Oracle-client/instantclient_21_7/adrci.sym
Oracle-client/instantclient_21_7/adrci.exe
