<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Novaland - {%endblock%}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
            rel="stylesheet" />

        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/custom-styles.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}"/>
        
        </head>
    <body class="d-flex flex-column h-100">
        {% block navbar %}
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg">
                <div class="shadow container px-5">
                    <img alt="" src="../assets/Novaland-logo.jpg" style="width:
                        130px; height: 81px;">
                    <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link
                                    text-success" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link"
                                    href="about.html">About</a></li>
                            <li class="nav-item"><a class="nav-link"
                                    href="contact.html">Contact</a></li>
                            <li class="nav-item"><a class="nav-link"
                                    href="pricing.html">Explore</a></li>
                            <li class="nav-item"><a class="nav-link"
                                    href="faq.html">Login</a></li>
                            <li class="nav-item"><a class="nav-link"
                                     href="faq.html">Signup</a></li>
       
                        </ul>
                    </div>
                </div>
            </nav>

            
        </main>
        {% endblock %}
        {%block content%}
        {%endblock%}

        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between
                    flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright
                            &copy; Your Website 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        {% block script %}
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
        {% endblock %}

    </body>
</html>
